@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Lobster');

h1 {
  font-family: 'Lobster', cursive;  
}

.song {
    border: 2px solid navy;
    padding: 5px;
    margin: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    width: 600px;
}

#pinkwhite {
    background-color: pink;
    color: white;
}

#xxxtentacion {
    background-color: Black;
    color: purple;
}

#HolyWar {
     background-color: pink;
    color: red;
    
}